body{
    background-color: azure;
}

#contenido{
    height: 100%;
    width: 100%;
    padding: 0 2rem 0 2rem;
    position: absolute;
}

#center{
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    height: 100%;
}

#sad_face{
    font-size: 200px;
    color: darkcyan;
    font-weight: bold;
    text-align: center;
}