#icon{
    width: auto;
    height: 5rem;
    margin-right: 20px;
}
#icon2{
    width: auto;
    height: 3rem;
    margin-right: 50px;
}

.search_input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:60vw;
}
.search_input2{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.send{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.flash-messages{
    position: absolute;
    top: -50px;
    animation-name: error_message;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: hidden;
}
@keyframes error_message {
    40%{
        visibility: visible;
        opacity: 1;
        top: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
        top: 0;
    }
}
.flash-messages div{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.text-searched{
    font-weight: bold;
    color: rgb(44, 44, 44);
}

.search-filter{
    text-decoration: none;
    color: rgb(44, 44, 44);
    margin: 0 3rem 0 3rem;
    padding: 0 1rem 0 1rem;
}
.search-filter-selected{
    text-decoration: none;
    font-weight: bold;
    color: rgb(19, 19, 19);
    margin: 0 3rem 0 3rem;
    padding: 0 1rem 0 1rem;
    border-bottom: solid 5px sandybrown;
}

.c-search-filter{
    text-decoration: none;
    color: rgb(44, 44, 44);
}
.c-search-filter-selected{
    text-decoration: none;
    font-weight: bold;
    color: rgb(19, 19, 19);
    border-bottom: solid 5px sandybrown;
}
